# IDE
.idea/
.vscode/

# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.sqlite
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Environment
.env
.env.local